<div class="card border border-primary">
    <div class="card-header">
        <h2 class="main-title"> {{title}}</h2>
    </div>
    <div class="card-body">
        <div>
            <h5 class="progress-title">Current progress: {{progress}}</h5>
            <p class="card-text">
        </div>



        <label> Project Detail: </label>
        <div class="project-description">
            <p> {{description}} </p>
        </div>

        <div class="project-tag">
            <p>-Posted by {{user.name}}</p>
            <p>-Due by: {{format_date deadline}}</p>
        </div>
        </p>
    </div>
</div>