<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/style.css">
  <title>Project Manager</title>
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <button class="button" id="logout">Logout</button>
  </nav>

  <div class="banner text-center"> DASHBOARD </div>

  <main>
    <nav class="navbar navbar-inverse visible-xs">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{!-- <a class="navbar-brand" href="/dashboard">Logo</a> --}}
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav" id="navbar">
            <li class="active"><a href="/dashboard">All Projects</a></li>
            <li><a href="/dashboard/unfinished">Unfinished Projects</a></li>
            <li><a href="/dashboard/issues">Projects with Issues</a></li>
            <li><a href="/dashboard/inreview">Projects In Review</a></li>
            <li><a href="/dashboard/completed">Completed Projects</a></li>

            {{#each users}}
            <li><a href="/dashboard/{{this.name}}">{{this.name}}</a></li>
            {{/each}}

          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs">
          {{!-- <h2>Logo</h2> --}}
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="/dashboard">All Projects</a></li>
            <li><a href="/dashboard/unfinished">Unfinished Projects</a></li>
            <li><a href="/dashboard/issues">Projects with Issues</a></li>
            <li><a href="/dashboard/inreview">Projects In Review</a></li>
            <li><a href="/dashboard/completed">Completed Projects</a></li>

            {{#each users}}
            <li><a href="/dashboard/{{this.name}}">{{this.name}}</a></li>
            {{/each}}

          </ul>
          <br>
          <a href="/dashboard/create/"><button class="btn btn-primary" id="create-post">+ New Project</button></a>
        </div>

        <div class="col-sm-9">
          {{{body}}}
        </div>

  </main>

</body>

<script src='/js/logout.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>

</html>